.site-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: animTitre 1s;
}
.entry-title{
    font-size: 15px;
}
.site-branding > .site-title{
    background-color: azure;
}
.entry .entry-title{
    text-align: center;
    margin-left: 35%;
    animation: animSoutTitre 3s;
    position: absolute;
    color: rgb(15, 10, 10);
    z-index: 9;
}