
  h2 a {
    justify-self: start;
    font-size: 15px !important;
  }
  .wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr) ) ;
    padding-top: 10px;
}
.session1{
  background-color: white;
}
.box {
    background-color: #445ad6;
    border-radius: 5px;
    border: 5px inset rgb(116, 184, 240);
    padding: 20px;
    font-size: 50%;
    text-align: center;

    a{
        color: #ffffff;
    }

    .entry-title{
        &::before{
            content: none;
        }
    }
}
@keyframes animTitre {
    from {background-color: rgba(0, 0, 0, 0); margin-left: 15%;}
    to {background-color: azure;margin-left: 0%;}
  }
@keyframes animSoutTitre {
    from {margin-top: 15%;color: rgba(255, 255, 255, 0)}
    to {margin-top: 0%; color:white;}
  }
  
  /* Grands écrans */
@media screen and (min-width: 992px) {
    .wrapper {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr) ) ;
        padding-top: 10px;
    }
  }
  
  /* Format tablette */
  @media screen and (min-width: 600px) {
    
  }